<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Graphic preview</title>

  <!--build:css css/styles.min.css-->
  <link rel="stylesheet" href="css/CI-calc-kids_styles.css">
  <!--endbuild-->

</head>

<body>


  <div id="calculator">

    <p class="calculator-label">Saving for your kids calculator</p>

    <div class="flex-container">

      <div class="input-area">

        <div class="calc-input">
          <label for="years-to-grow">Beginning age</label>
        </div>

        <div class="calc-input-radio">
        
          <input type="radio" id="birth" name="years-to-grow" v-model="yearsToGrow" value=0></input>
          <label for="birth">Birth</label>
    
          <input type="radio" id="five" name="years-to-grow" v-model="yearsToGrow" value=5></input>
          <label for="five">Age 5</label>

          <input type="radio" id="ten" name="years-to-grow" v-model="yearsToGrow" value=10></input>
          <label for="ten">Age 10</label>

          <input type="radio" id="fifteen" name="years-to-grow" v-model="yearsToGrow" value=15></input>
          <label for="fifteen">Age 15</label>
        </div>

        <!-- <div class="calc-input">
          <label for="years-to-grow">Beginning age</label>
          <input type="number" name="years-to-grow" v-model.number="yearsToGrow" maxlength="2" oninput="this.value=this.value.slice(0,this.maxLength)" ></input>
        </div> -->
    
        <div class="calc-input money-input">
          <label for="contribution">Daily contribution</label>
          <input type="number" name="contribution" v-model.number="contribution" maxlength="6" oninput="this.value=this.value.slice(0,this.maxLength)"></input>
        </div>
  

        <div class="calc-input">
          <label for="interest-rate">Account type</label>
        </div>

        <div class="calc-input-radio">
          <input type="radio" id="investment" name="interest-rate" v-model="interestRate" value="7"></input>
          <label for="investment">Investment</label>
    
          <input type="radio" id="savings-account" name="interest-rate" v-model="interestRate" value="1.5"></input>
          <label for="savings-account">High-yield savings</label>
        </div>

        <button v-on:click="getResults">Calculate</button>

      </div>

        
      <div class="results">
        
        <p class="label-text">Future balance</p>
        <p class="value-text">${{futureBalance}}</p>
        
        <div class="chart-container" id="chart-container-CIcalc"></div>

      </div>
    </div>

    <div class="chart-note">
      Note: Savings calculated to age 18. Investment account uses an annual return of 7% and high-yield savings account uses a return of 1.5%, both compounded daily.
    </div>
  

    <div class="chart-credit">kiersten schmidt/grow</div>

    <img src="https://fm.cnbc.com/applications/cnbc.com/resources/files/2020/01/29/h_logo_white.png" class="grow-logo">
    
  </div>
    
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <!-- <script src="https://code.highcharts.com/modules/data.js"></script> -->
  <!-- <script src="http://code.highcharts.com/modules/exporting.js"></script> -->
  <!-- <script src="https://code.highcharts.com/highcharts-more.js"></script> -->
  <!--build:js js/main.min.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script src="js/CI-calc-kids_main.js"></script>
  <!-- endbuild -->
</body>
</html>
